html,
body {
  height: 100%;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.game-content {
  display: flex;
}
.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-class .el-input__inner {
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border-top: 1px solid #dcdfe6;
  text-align: center;
  color: white;

  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 5%;
}
.home-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 15%;
}
.home-heading {
  letter-spacing: 15px;
  color: white;
  font-size: 44px;
  margin-bottom: 5%;
}
.instructions-list {
  color: white;
  font-size: 20px;
}

.list-item {
  margin-bottom: 2%;
}

.accuracy {
  margin-top: 2%;
  font-size: 50px;
}
.card-body {
  margin: 1%;
}
.cards-pack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left-panel {
  width: 50%;
  margin-bottom: 5%;
}
.right-panel {
  font-size: 40px;
  color: white;
  width: 50%;
}
.card-container {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(#377d8b, #090979, #090979);
}
.back-slot {
  background-image: radial-gradient(#a6f0ff, #0592eb, #4949ff);
  height: inherit;
  width: inherit;
  cursor: pointer;
}
.front-slot {
  /* background-color: white; */
  height: inherit;
  width: inherit;
  cursor: pointer;
}
.game-heading {
  letter-spacing: 15px;
  color: white;
  font-size: 44px;
  margin-bottom: 2%;
}
.result-text {
  font-size: 28px;
}

@media screen and (max-width: 1150px) {
  .game-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .left-panel {
    width: 55%;
  }
}
@media screen and (max-width: 1043px) {
  .left-panel {
    width: 60%;
  }
}
@media screen and (max-width: 957px) {
  .left-panel {
    width: 65%;
  }
}
@media screen and (max-width: 885px) {
  .left-panel {
    width: 70%;
  }
}
@media screen and (max-width: 823px) {
  .left-panel {
    width: 75%;
  }
}
@media screen and (max-width: 769px) {
  .left-panel {
    width: 80%;
  }
  .right-panel {
    font-size: 20px;
  }
}
@media screen and (max-width: 722px) {
  .left-panel {
    width: 85%;
  }
}
@media screen and (max-width: 680px) {
  .left-panel {
    width: 90%;
  }
}
@media screen and (max-width: 643px) {
  .left-panel {
    width: 95%;
  }
}
@media screen and (max-width: 610px) {
  .left-panel {
    width: 100%;
  }
}
@media screen and (max-width: 581px) {
  .left-panel {
    width: 100%;
  }
  .game-heading {
    display: none;
  }
  .accuracy {
    font-size: 40px;
  }
}
